@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'UTM Times';
    src: url('../fonts/UTM Times.ttf') format('truetype');
}